@page
@model FilmUpMovie.Pages.Foods.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Food Details</h1>

<div>
    <h4>Food</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Food.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Food.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Food.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Food.Price)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Food.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Food.Description)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Food.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Food.Category)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Food.IsNewArrival)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Food.IsNewArrival)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Food.IsOnSale)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Food.IsOnSale)
        </dd>

        <!-- Image display -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Food.FoodImage)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Food.FoodImage != null)
            {
                <img src="data:image/png;base64,@Convert.ToBase64String(Model.Food.FoodImage)" alt="Food Image" class="img-thumbnail" style="width: 150px; height: auto;" />
            }
            else
            {
                <span class="text-muted">No Image Available</span>
            }
        </dd>
    </dl>
</div>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Food?.F_ID" class="btn btn-warning">Edit</a> |
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</div>

