@page
@model FilmUpMovie.Pages.Combos.IndexModel

@{
    ViewData["Title"] = "Combo List";
}

<div class="container">
    <h1 class="mt-4">Combo List</h1>
    <p>
        <a asp-page="Create" class="btn btn-success mb-3">+ Add New Combo</a>
    </p>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Combos[0].Name)</th>
                <th>@Html.DisplayNameFor(model => model.Combos[0].Price)</th>
                <th>@Html.DisplayNameFor(model => model.Combos[0].Description)</th>
                <th>@Html.DisplayNameFor(model => model.Combos[0].IsOnSale)</th>
                <th>Image</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Combos)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Price)</td>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td>@(item.IsOnSale ? "Yes" : "No")</td>
                    <td class="text-center">
                        @if (item.ComboImage != null)
                        {
                            <img src="data:image/png;base64,@Convert.ToBase64String(item.ComboImage)" alt="Combo Image" class="img-thumbnail" style="width: 100px; height: auto;" />
                        }
                        else
                        {
                            <span class="text-muted">No Image</span>
                        }
                    </td>
                    <td class="text-center">
                        <a asp-page="./Edit" asp-route-id="@item.Combo_ID" class="btn btn-sm btn-warning">Edit</a>
                        <a asp-page="./Details" asp-route-id="@item.Combo_ID" class="btn btn-sm btn-info">Details</a>
                        <a asp-page="./Delete" asp-route-id="@item.Combo_ID" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
